ht_secure_data.rb
logs
solr/catalog/data
zephir**.json.gz

.bundle
bin/bundle
bin/rake
bin/solr
bin/traject

debug.out
debug.json
nohup.out

lib/translation_maps/hlb.json.gz

coverage

# Ignore Mac OS X Desktop Services Store files
.DS_Store

config/env.local

*.sw?
*~
